<a href="https://colab.research.google.com/github/SHWETHA1308/ML_Internship/blob/main/ML_ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lists:
1. Write a Python program to sum all the items in a list.

In [1]:
def sum_list(items):
    return sum(items)

# Example usage:
items = [1, 2, 3, 4, 5]
print(sum_list(items))

15

2. Create a function that takes a list of numbers as input and returns a new list with only the even numbers from the original list.

In [2]:
def even_numbers(lst):
    return [num for num in lst if num % 2 == 0]

# Example usage:
numbers = [1, 2, 3, 4, 5, 6]
print(even_numbers(numbers))

[2, 4, 6]

3. Write a Python program to remove duplicates from a list.

In [3]:
def remove_duplicates(lst):
    return list(set(lst))

# Example usage:
items = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(items))

[1, 2, 3, 4, 5]

4. Implement a function to find the second largest number in a list.

In [4]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    return unique_numbers[-2]

# Example usage:
numbers = [1, 2, 3, 4, 5]
print(second_largest(numbers))

4

5. Write a Python program to shuffle and print a list.

In [5]:
import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

# Example usage:
items = [1, 2, 3, 4, 5]
print(shuffle_list(items))

[3, 1, 2, 5, 4]

### Tuples:
1. Write a Python program to reverse a tuple.

In [6]:
def reverse_tuple(tpl):
    return tpl[::-1]

# Example usage:
tpl = (1, 2, 3, 4, 5)
print(reverse_tuple(tpl))

(5, 4, 3, 2, 1)

2. Create a function that takes two tuples as input and returns a new tuple containing elements that are common in both tuples.

In [7]:
def common_elements(tpl1, tpl2):
    return tuple(set(tpl1) & set(tpl2))

# Example usage:
tpl1 = (1, 2, 3)
tpl2 = (2, 3, 4)
print(common_elements(tpl1, tpl2))

(2, 3)

3. Write a Python program to convert a tuple to a string.

In [8]:
def tuple_to_string(tpl):
    return ''.join(map(str, tpl))

# Example usage:
tpl = ('a', 'b', 'c')
print(tuple_to_string(tpl))

abc

4. Implement a function to find the index of an element in a tuple.

In [9]:
def find_index(tpl, element):
    return tpl.index(element)

# Example usage:
tpl = (1, 2, 3, 4, 5)
print(find_index(tpl, 3))

2

5. Create a program to concatenate two tuples.

In [10]:
def concatenate_tuples(tpl1, tpl2):
    return tpl1 + tpl2

# Example usage:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
print(concatenate_tuples(tpl1, tpl2))

(1, 2, 3, 4, 5, 6)

### Dictionaries:
1. Write a Python script to sort (ascending and descending) a dictionary by its values.

In [11]:
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

# Example usage:
d = {'a': 3, 'b': 1, 'c': 2}
print(sort_dict_by_values(d))  # Ascending
print(sort_dict_by_values(d, ascending=False))  # Descending

{'b': 1, 'c': 2, 'a': 3}
{'a': 3, 'c': 2, 'b': 1}

2. Create a function that takes a dictionary as input and returns the sum of all its values.

In [12]:
def sum_dict_values(d):
    return sum(d.values())

# Example usage:
d = {'a': 3, 'b': 1, 'c': 2}
print(sum_dict_values(d))

6

3. Write a Python program to combine two dictionary adding values for common keys.

In [13]:
def combine_dicts(d1, d2):
    combined = d1.copy()
    for k, v in d2.items():
        combined[k] = combined.get(k, 0) + v
    return combined

# Example usage:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
print(combine_dicts(d1, d2))

{'a': 1, 'b': 5, 'c': 4}

4. Implement a function to check if a given key already exists in a dictionary.

In [14]:
def key_exists(d, key):
    return key in d

# Example usage:
d = {'a': 1, 'b': 2}
print(key_exists(d, 'a'))
print(key_exists(d, 'c'))

True
False

5. Create a program to iterate over dictionaries using loops and comprehensions, printing key-value pairs.

In [15]:
def iterate_dict(d):
    for k, v in d.items():
        print(f'{k}: {v}')

    print("Using comprehension:")
    [print(f'{k}: {v}') for k, v in d.items()]

# Example usage:
d = {'a': 1, 'b': 2, 'c': 3}
iterate_dict(d)

a: 1
b: 2
c: 3
Using comprehension:
a: 1
b: 2
c: 3


### Sets:
1. Write a Python program to create a set.

In [16]:
def create_set(elements):
    return set(elements)

# Example usage:
elements = [1, 2, 3, 4, 5]
print(create_set(elements))

{1, 2, 3, 4, 5}

2. Create a function that takes two sets as input and returns a new set containing elements that are common in both sets.

In [17]:
def common_elements(set1, set2):
    return set1 & set2

# Example usage:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(common_elements(set1, set2))

{2, 3}

3. Write a Python program to find the difference between two sets.

In [18]:
def difference_sets(set1, set2):
    return set1 - set2

# Example usage:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(difference_sets(set1, set2))

{1}

4. Implement a function to check if a set is a subset of another set.

In [19]:
def is_subset(set1, set2):
    return set1.issubset(set2)

# Example usage:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(is_subset(set1, set2))

True

5. Create a program to perform set operations like union, intersection, difference, and symmetric difference..provide program and outout for all the question

In [20]:
def set_operations(set1, set2):
    return {
        'union': set1 | set2,
        'intersection': set1 & set2,
        'difference': set1 - set2,
        'symmetric_difference': set1 ^ set2
    }

# Example usage:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
operations = set_operations(set1, set2)
for op, result in operations.items():
    print(f'{op}: {result}')

union: {1, 2, 3, 4}
intersection: {2, 3}
difference: {1}
symmetric_difference: {1, 4}

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).